// common colors
$black: #191919;
$gray: lightgray;
$darkGray: gray;

// common UI element colors
$primaryText: $black;
$secondaryText: $darkGray;

// breakpoints
$breakpointMobile: 480px;
$breakpointTablet: 800px;
$breakpointDesktop: 1000px;
$breakpointWide: 1200px;

// height of page header
$headerHeight: 48px;

// width of checkout sidebar
$checkoutSidebarWidth: 340px;
