@import "../../styles/doordash.scss";

$imageSize: 120;

:export {
  imageSize: $imageSize;
}

.menu {
  width: 100%;
  margin-top: 40px;
}
.menuname {
  color: $primaryText;
  font-size: 24px;
  margin-bottom: 8px;
  font-family: TTNorms-Bold;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
@media (max-width: $breakpointTablet) {
  .grid {
    grid-template-columns: 1fr;
  }
}
.box {
  width: 100%;
  height: $imageSize + px;
  border: 1px solid $gray;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  cursor: pointer;
}
.boxleft {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.itemname {
  font-size: 16px;
  font-family: TTNorms-Bold;
  color: $primaryText;
  margin-bottom: 8px;
}
.itemdescription {
  font-size: 14px;
  font-family: TTNorms;
  color: $secondaryText;
  margin-bottom: 8px;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 40px;
  white-space: normal;
}
.itemprice {
  font-size: 14px;
  color: $secondaryText;
}
.image {
  width: $imageSize + px;
  height: $imageSize + px;
  flex-shrink: 0;
}
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
